.git
.gitignore
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*
tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache
README.md
CHANGELOG.md
.editorconfig
.DS_Store
Dockerfile
docker-compose*.yml
.dockerignore
.idea
.vscode
.zed
